body
{
    font-family: arial;
}

li
{
    margin: 0.2em 0;
}

h1
{
    font-size: 22;
    font-family: arial;
    font-weight: bold;
}

h2
{
    font-size: 18;
}

div.highlight
{
    color: #0000FF;
    font-size: small;
    font-weight: bold;
    font-style: italic;
}

div.quote
{
    font-size: small;
    font-style: italic;
    color: blue;
}

div.project
{
    width: 600;
}