<html>
<head>
  {{ css_link }}
  <title>{{ Title }}</title>
  {{ js_link }}
  {{ google_analytics }}
</head>
<body {{ Body }} >
<table>
<tr> <td colspan=2> 
{{ DIVISIONS }} 
</td> </tr>
<tr>
<td valign=top> 
{{ ITEMS }}
</td>
<td valign=top> 
{{ ABOUT_ME }}
{{ PUBLICATIONS }}
{{ RESEARCH }}
{{ TEACHING }}
{{ SHARING }} </td>
</tr>
<tr><td colspan=2>
<div class=quote>{{ QUOTE }}</div>
<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
  alt="Powered by Google App Engine" />
</td></tr>
</body>
</html>
