<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/main.css" />
  <title>Kok-Kiong Yap's Web Presence (beta)</title>
</head>
<body>
<img SRC="/images/title.png" />
<div style="
     top: 10;
     left: 30;
     position: absolute;
     z-index: 1;
     visibility: show;">
<h1>Kok-Kiong Yap</h1>
</div>
<div  style="
      top: 26;
      left:200;
      position: absolute;
      z-index: 1;
      visibility: show;">
<img width=60 SRC="/images/name.png" />
</div>
<div  style="
      top: 35;
      left:793;
      position: absolute;
      z-index: 1;
      visibility: show;">
<img width=150 src="/images/main_photo.jpg" />
</div>
<div>
This page is still under construction...check out <a href="kkmobile.homelinux.com">kkmobile.homelinux.com</a>.
</div>

</body>
</html>
